.ancizar-sans-font {
    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar_spacing {
    padding-left: 20px;
    padding-right: 20px;
}

.mobile_navbar_menu_spacing {
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.custom-logo {
    margin-left: 0px;
}

.bible_name {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.book_name {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.book_subname {
    margin-bottom: 8px;
    font-weight: bold;
    text-align: center;
}

.chapter {
    padding-left: 10px;
    padding-right: 10px;
}

.book_selection {
    padding-left: 10px;
    padding-right: 10px;
}

.chapter_selection {
    padding-left: 10px;
    padding-right: 10px;
}

.book_name_list {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 23px;
}
.chapter_name_list {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 23px;
}
.verse {
    margin: 0px;
    margin-bottom: 5px;
    font-size: 20px;
}
.testament_title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}
.chapter_title {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}
.chapter_reference {
    margin-bottom: 10px;
    font-style: italic;
    font-size: 20px;
}
.chapter_subtitle {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.note_tooltip {
    position: relative;
    display: inline-block;
    max-width: max-content;
    color: #006080;
    opacity: 0.9;
    font-size: 22px;
}

.note_tooltip .note_tooltiptext_right {
    visibility: hidden;
    position: absolute;
    width: 200px;
    max-width: max-content;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
    opacity: 1;
    top: -20%;

    margin-left: 5px;
    margin-bottom: 0px;

    font-size: 17px;
    font-weight: normal;

    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.note_tooltip:hover .note_tooltiptext_right {
    visibility: visible;
}

.note_tooltip .note_tooltiptext_left {
    visibility: hidden;
    position: absolute;
    width: 200px;
    max-width: max-content;
    background-color: #555;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    z-index: 1;
    opacity: 1;
    top: -20%;

    margin-left: -210px;
    margin-bottom: 0px;

    font-size: 17px;
    font-weight: normal;

    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.note_tooltip:hover .note_tooltiptext_left {
    visibility: visible;
}

/*
.note_tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    font-size: 20px;
    opacity: 0.85;
}

.note_tooltip .note_tooltiptext {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    font-size: 17px;

    font-family: "Ancizar Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    position: absolute;
    z-index: 1;
}

.note_tooltip:hover .note_tooltiptext {
    visibility: visible;
}
*/

body {
    background-color: #ffebfd;
    overflow-x:hidden;
    overflow-y:scroll;
}

a {
    color: #006080;
}